.textarea-element-label {
    position: relative;
    top: 35px;
    left: 2px;
    z-index: 1;
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
}

.textarea-element-label.isFocus {
    top: 0;
    left: 0;
    font-size: 80%;
    font-weight: 400;
    animation: labelOnMove 0.3s;
    color: #1976d2;
}

@keyframes labelOnMove {
    0% {
        top: 35px;
    }

    100% {
        top: 0px;
    }
}

Textarea {
    padding-left: 0px !important;
    border-radius: 0px !important;
    border: 0 !important;
    border-bottom: 1px solid #1976d2 !important;
}

.textarea-element.isFocus {
    /* border-bottom: 1px solid #1976d2 !important; */
}

.textarea-element {
    margin: 5px 0px;
}